.content{
    background-color: blue;
    color: rgb(17, 15, 15);
    height: 100vh;
}
table{
    text-align: center;
    width: 100vw;
    padding: 50px;
    height: 100vh;
    /* height: 100vh; */
    background-color: yellow;
}